body{
    background-color: rgb(28, 57, 63)  !important;
    background-image: url("imagenes/borde2.png");
}


#cabecera { height: 900px; }

.fondo{
    margin-left: 45px;
    margin-right: 45px;
    background-color: rgb(28, 57, 63);
    border: rgb(28, 57, 63) 5px solid;
}

.carrusel{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
    border: rgb(28, 57, 63) 5px solid;
    height: 590px;
}

.divCabeza{
  width: 100%;
  margin-top: -80px;
}

.divCabeza2{
    width: 100%;
  }

div{
    border: rgb(255, 57, 63) 5px solid;
}

.imagenCabeza{
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
}

.imagenCabeza2{
    width: 80px;
    height: 100px;
    display:block;
    margin:auto;
}


.pie{
    margin-top: -70px;
    /*border: rgb(255, 57, 63) 5px solid;*/
    height: 25px;
    background-color: rgb(28, 57, 63);
    background-image: url("imagenes/borde2.png");

}

.pie2{
    /*border: rgb(255, 57, 63) 5px solid;*/
    height: 25px;
    background-color: rgb(28, 57, 63);
    background-image: url("imagenes/borde2.png");
}


/*Inicio Footer*/
.footer{
    position: relative;
	background-color: rgb(9, 38, 44);
    padding: 70px 0;
    width: 100%;
    bottom: 0%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }


.imglogo{
    height: 100px;
    width: 80px;
    display:block;
    margin:auto;
}


.imagenCentrica{
    width: 100%;
    margin-top: 40px;
}

.titulo{
    color: white;
}

.REDES{
    margin-left: 170px;
}

.extra{
    height: 35px;
    margin-top: 0px;
}
/*Final Footer*/

/*Rango entre 761 para adelante PCpx
Vista desde PC
*/
@media (min-width: 761px)and (max-width: 1200px){
    .divCabeza{
        width: 100%;
        margin-top: -150px;
      }
}

@media (min-width: 761px)and (max-width: 950px){
    .divCabeza{
        width: 100%;
        margin-top: -260px;
      }
}

/*rango entre 361 y 760px Tablet
Vista desde PC
*/
@media screen and (min-width: 361px) and (max-width: 760px){
    .footer-col{
        width: 100%;
        position: relative;
        margin-left: 50px;
     }

     .REDES{
        margin-left: 90px;
    }

    .imagenCentrica{
        position: relative;
        margin-top: 40px;
        margin-left: 150px;
    }

    .divCabeza{
        width: 100%;
        margin-top: -340px;
      }
}

/*rango entre 100 a 360px Celular 
Vista desde PC
*/
@media screen and (min-width: 100px) and (max-width: 360px){
  
}